* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Tajawal', sans-serif;
}

body {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #21618C;
}

header {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

.social-links {
  /*width: 200px;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
}

li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #21618C;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #21618C;
}

.personal-statement {
  text-align: right;
  font-size: 2.7rem;
  margin: 20% 0;
  padding: 4% 0;
  line-height: 190%;
}

.intro,
.resume {
  margin: 8% 0;
  display: flex;
  justify-content: space-between;
}
.intro h3,
.resume h3 {
  font-size: 1.5rem;
}

.summary,
.introduction {
  width: 50%;
  padding: 0 5px 0 0;
}

.projects {
  margin: 20% 0;
  display: flex;
  justify-content: space-between;
}

.abstract-art {
  width: 34%;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
}

.left-side,
.right-side {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue-1,
.blue-2,
.blue-3,
.blue-4 {
  background-color: #21618C;
  width: 100%;
}

.blue-1,
.blue-4 {
  height: 66%;
}

.blue-2,
.blue-3 {
  height: 32%;
}

.project-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5%;
}

.project-list section {
  padding: 30px 0 30px 0;
}

.projects section h3 {
  font-size: 2rem;
}

footer {
  margin: 15% 0 5% 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

footer h4 {
  font-size: 1.1rem;
}

footer section {
  margin-right: 1%;
}

.squares {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.rectangle-1,
.rectangle-2 {
  background-color: #21618C;
}

.rectangle-1 {
  width: 58.5%;
}

.rectangle-2 {
  width: 38%;
}
