* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
}

.blue-bar {
  width: 100%;
  height: 40px;

  background-color: #21618C;
  display: flex;
  justify-content: flex-end;
}

.blue-bar ul {
  width: 50%;
  padding: 1.5% 0 0 0;
  margin: 0 3% 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  list-style: none;
  color: white;
}

.blue-bar a {
  color: white;
}

.blue-bar a:visited {
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #21618C;
  margin: 3%;
  font-size: 1.5rem;
}

header h2 {
  text-align: left;
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;
}

h1 {
  font-family: 'Zilla Slab Highlight', cursive;
}

h3,
h4 {
  font-family: 'Averia Libre', cursive;
}

p {
  line-height: 1.5;
}

.project-list a {
  font-family: 'Zilla Slab Highlight', cursive;
}

a {
  color: #21618C;
  text-decoration: none;
}

a:visited {
  color: #21618C;
  text-decoration: none;
}

.personal-statement {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 15% 0 30% 0;
}

.projects {
  width: 100%;
  margin: 30% 0 14% 0;
}

.project-list {
  /*border: 1px solid green;*/
  margin-top: 2%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.project-list section {
  padding: 8% 0;
}

.abstract-art {
  display: none;
}

.resume-holder {
  display: none;
}

.squares {
  display: none;
}

footer {
  margin: 15% 0 5% 0;
  width: 100%;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #21618C;
  padding: 2%;
  font-size: 1rem;
}

.contact-info h3 {
  margin-bottom: 0.6rem;
  font-family: 'Times New Roman', serif;
}

/*
/
/
/
Media Query
/
/
/
*/

@media screen and (min-width: 960px) {

  .blue-bar {
    width: 100%;
    height: 35px;
    background-color: #21618C;
    display: flex;
    justify-content: flex-end;
  }

  .blue-bar ul {
    color: white;
    display: flex;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5% 0 0 0;
    margin: 0 1% 0 0;
    font-size: 1.2rem;
  }

  .blue-bar a {
    color: white;
  }

  .blue-bar a:visited {
    color: white;
  }

  .page {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  header {
    margin: 10% 0 5% 0;
    width: 100%;
  }

  header h2 {
    width: 100%;
    text-align: left;
    font-family: 'Tajawal', sans-serif;
    font-size: 2.5rem;
  }

  span {
    font-style: oblique;
  }

  li {
    display: inline-block;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #21618C;
    height: auto;
    display: inline-block;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #21618C;
  }

  .personal-statement {
    font-size: 2.7rem;
    margin: 10% 0;
  }

  .resume a {
    font-family: 'Averia Libre', cursive;
  }

  .intro,
  .resume {
    display: block;
    margin: 20% 0 8% 0;
  }

  .introduction,
  .summary {
    margin: 0 0 0 5%;
    padding: 0;
    width: 90%;
  }

  .project-list {
    width: 100%;
    margin: 20% 0 10% 0;
    display: flex;
    flex-direction: column;
    padding-top: 1.5%;
  }

  .project-list section {
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-list h3 {
    font-size: 2rem;
    margin-bottom: 5%;
  }

  .resume-holder {
    display: block;
    height: 960px;
    width: 100%;
  }

  footer {
    margin: 15% 0 5% 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  footer h4 {
    font-size: 1.1rem;
  }

  footer section {
    margin-right: 1%;
  }

  .squares {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .rectangle-1,
  .rectangle-2 {
    background-color: #21618C;
  }

  .rectangle-1 {
    width: 58.5%;
  }

  .rectangle-2 {
    width: 38%;
  }
}
